# Node modules
node_modules/

# Environment files
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# Build output
dist/
build/
out/

# TypeScript cache
*.tsbuildinfo

# Docker
docker/app/node_modules/
docker/app/dist/

# VSCode settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# PostgreSQL data
pgdata/
